.form-module {
position: relative;
    background: #ffffff;
    max-width: 585px;
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    border-radius: 4px;
    display: block;
}

.form-module h2 {
   margin: 0 0 7px;
    color: #33b5e5;
    font-size: 28px;
    padding-top: 16px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
}

.form-module input {
outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-wieght: 400;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    border-radius: 5px;
}

.loginForm {
    padding: 40px;
}

.form-module button {
        cursor: pointer;
    background: #33b5e5;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

a {
    text-decoration: none;
}

p {
    font-size: 0.9rem;
}